body {
	background-color: black;
}

section {
	max-width: 50%;
	margin: auto;
}

span {
	color: red;
}

a:link {
	color:red;
}

a:visited {
	color:#ff4b2b;
}

a:hover {
	color:#ff4b2b;
}

a:active {
	color:#ff4b2b;
}

header {
	background-color: #160000;
	margin: auto;
}

p {
	color: blanchedalmond;
}

b {
	color: oldlace;
}

h1 {
	color: #ff4848;
	font-size: xx-large;
	text-align: center;
}

h2 {
	font-size: x-large;
	color: cornsilk;
}

h3 {
	font-size: large;
	color: cornsilk;
}

nav {
	text-align: center;
	font-size:2vw;
	background-color: #202020;
	width: fit-content;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
}

footer {
	text-align: center;
	font-size: x-large;
}

img {
	margin:inherit;
	display: block;
	max-width: 100%;
	height:auto;
}

.posts{
	font-size: large;
	text-align: center;
}

.slide {
	position: relative;
	display: inline-block;
}

.slide-link {
	display: none;
	position: absolute;
	background-color:#202020;
	width: 160px;
}

.slide:hover .slide-link {
	display: block;
}

nav a:hover {
	background-color: #101010;
}

nav a{
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav .slide{
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}